body{
    font-family: 'Roboto', sans-serif;

}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.main-nav{
    display: flex;

}
.navigation{
    display: flex;
    gap: 93px;
}
.navigation-list{
    display: flex;
    gap: 50px;
}
.header-list{
    display: flex;
    gap: 30px;
}
.header-logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #000;
}
.logo{
    color: #2196F3;  
}